<!-- Weibo -->
<a href="https://weibo.com/lunayj" title="@Luna 的微博" target="_blank" rel="noopener">
  <i class="fa-brands fa-weibo"></i>
  <span class="label">Weibo</span>
</a>

<!-- Github -->
<a href="https://github.com/LunaYJ" title="@Luna 的 Github" target="_blank" rel="noopener">
  <i class="fa-brands fa-github"></i>
  <span class="label">Github</span>
</a>

<!-- 腾讯云开发者 -->
<!--    <li class="navigation__item">-->
<!--      <a href="https://dev.tencent.com/u/lunayj/" title="@Luna 的 腾讯云开发者平台" target="_blank">-->
<!--        <i class='social fa fa-globe'></i>-->
<!--        <span class="label">Tencent Cloud</span>-->
<!--      </a>-->
<!--    </li>-->

<!-- Twitter -->
<a href="https://twitter.com/yj_lunashu" title="@Luna" target="_blank" rel="noopener">
  <i class="fa-brands fa-x-twitter"></i>
  <span class="label">X / Twitter</span>
</a>

<!-- Facebook -->
<a href="https://www.facebook.com/lunayj" title="@Luna" target="_blank" rel="noopener">
  <i class="fa-brands fa-facebook"></i>
  <span class="label">Facebook</span>
</a>

<!-- RSS -->
<a href="{{@site.url}}/rss/" rel="noopener" title="RSS" target="_blank">
  <i class="fa-solid fa-rss"></i>
  <span class="label">RSS</span>
</a>

<!-- Email -->
<a href="mailto:luna_yj@hotmail.com" title="邮件联系我">
  <i class="fa-solid fa-envelope"></i>
  <span class="label">Email</span>
</a>
