<div class="tag-cloud custom-tag-cloud" style="line-height: 1.5;">
  <div class="tag-filter">
    {{#get "tags" limit="100" include="count.posts" order="count.posts desc"}}
      {{#foreach tags}}
        <a class="{{#match @root.tag.name "===" name}}active{{/match}}" href="{{url}}">{{name}} ({{count.posts}})</a>
      {{/foreach}}
    {{/get}}
  </div>
</div>
